model:
  common:
    share_across_layer: False
    num_layers: 6
    hidden_dim: 768
    norm_eps: 1.0e-12
    dropout: 0.0
    act_fn: "gelu"
    init_range: 0.02
  embedding:
    downsample_rate: 3
  position_embedding:
    max_timestep: 3000
    trainable: False
  attention:
    attention_head: 12
  fully_connected:
    intermediate_dim: 3072


audio:
  win_ms: 25
  hop_ms: 10
  n_freq: 201
  n_mels: 80
  n_mfcc: 13

  input:
    feat_type: mel # feat_type can be: wav, complx, linear, mel, mfcc, phase
    channel: 0
    log: True
    delta: 0
    cmvn: True